.room-list {
    width: 1000px;
    position: absolute;
    margin-top: 30%;
    padding: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    font-size: 18px;
    opacity: 0.9;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    border-radius: 2%;
  }


ul {
  list-style-type: none;

}

li {
  margin: 0;
  padding: 10px;
  text-align: left;
  padding-left: 30%;
}

.join-btn {
  float: right;
  margin-right: 30%;
  background-color: white; 
  color: black; 
  border: 2px solid #f44336;
  padding: 1px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}


.join-btn:hover {
  background-color: #f44336;
  color: white;
}

.inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 20%;
}

.inline label {
  margin: 5px 10px 5px 0;
}

.inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.inline button {
  padding: 10px 20px;
  background-color: green;
  border: 1px solid #ddd;
  color: white;
  cursor: pointer;
}