.rooms h3 {
  text-align: center;
}


.room-list {
    width: 50%;
    position: absolute;
    padding: 20px;
    left: 25%;
    background-color: #fff;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    font-size: 18px;
    opacity: 0.9;
    
  }


li.rooms {
  display: flex;
  align-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
}



li.rooms p {
  flex: 1;
  padding: 12px 24px;
  font-size: 150%;
}

li.rooms p.room-name {
  font-weight: bold;
}

li.rooms p.room-status {
  max-width: 40%;
}


li.rooms button.join-btn {
  padding: 1%;
  flex: 1;
  border: 1px solid #ccc;
  margin: 12px;
  cursor: pointer;
  max-width: 15%;
  text-transform: uppercase;
  font-size: 16px; 
  font-family: 'Ubuntu', sans-serif
}


li.rooms button.join-btn:hover {
  background-color: #eee;
}

.add-room {
  width: 500px;
  display: flex;
  background-color: #f2f2f2;
  margin-bottom: 2%;
  text-align: center;
}

.add-room form {
  flex: 1;
  border: 1px solid #ccc;
  justify-content: space-between;
  padding: 20px;
  box-shadow: 1px 1px 5px rgba(0,0,0, 0.2); 
}

.add-room label {
  margin: 5px 10px 5px 0;
}

.add-room input {
  flex: 1;
  border: 1px solid #ccc;
  padding: 7px 10px;
}

.add-room input[type=text] {
  max-width: 300px;
}

.add-room button {
  text-transform: uppercase;
  margin-left: 10px;
  padding: 1%;
  flex: 1;
  border: 1px solid #ccc;
  margin: 12px;
  cursor: pointer;
  max-width: 20%;
  font-size: 16px; 
  font-family: 'Ubuntu', sans-serif
}

.add-room button:hover {
  background-color: #eee;
}

.winner { 
font-weight: 300; 
color: green; 
}


.loser { 
font-weight: 300; 
color: red; 
}


.new-player {
 border: 1px solid #ccc;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  border-color: #e7e7e7;
  margin-bottom: 2%;
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
}


.new-player:hover {
   background-color: #eee;
}


a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: red;
}